.careers {
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
}

.gallery-item {
    position: relative;
    width: calc(25% - 20px);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.2);
}

.gallery-item img {
    width: 100%;
    border-radius: 10px;
}

.gallery-item:hover {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(179, 151, 0, 0.5);
    color: #0a0a0a;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: opacity 0.5s ease;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

/* Media Query */
@media (max-width: 800px) {
    .gallery-item {
        width: calc(50% - 10px);
    }
}

@media (max-width: 500px) {
    .gallery-item {
        width: 100%;
    }
}
