/* Main Colours used for the theme:
Gold: #ffd700
Black: #0a0a0a
White: #fafafa

Alternative theme with Blue: #0d5e90

Any other shades are simply lighter or darker versions of these hex codes from https://maketintsandshades.com  */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.btn {
    background: #ffd700;
    color: #0a0a0a;
    padding: 14px 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.btn:hover {
    background-color: #0a0a0a;
    color: #ffd700;
    transition: 0.5s;
}

.btn.blue-btn {
    background-color: #0a0a0a;
    color: #ffd700;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.btn.blue-btn:hover {
    background-color: #ffd700;
    color: #0a0a0a;
    transition: 0.5s;
}

/* Media Query */
@media (max-width: 1200px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .btn {
        padding: 14px 22px;
    }
}

/* Custom Scrollbar */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#ffd700, #ffe766, #fafafa, #ffe766, #ffd700);
    border-radius: 10px;
}
