.blog-hero {
    background: linear-gradient(rgba(51, 43, 0, 0.5), rgba(51, 43, 0, 0.5)),
        url("../../../assets/blog-hero.webp");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
}

.blog-heading {
    text-align: center;
    max-width: 800px;
}

.blog-heading h1 {
    font-size: 60px;
    font-weight: 600;
}

.blog-heading p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
    font-size: 20px;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.blog-heading p {
    font-size: 24px;
    color: #fafafa;
    margin-top: 20px;
}

.Blog-Subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 64px;
    margin-bottom: 64px;
}

.Blog-Subscribe h1 {
    margin-bottom: 32px;
}

.Sub-Section {
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 1px 3px rgba(0, 0, 0, 0.4);
}

.Email-Input-Field {
    width: 500px;
    height: 40px;
    padding: 16px;
    font-size: 16px;
}

.Subscribe-Button {
    width: 250px;
    color: #0a0a0a;
    font-weight: 600;
    font-size: 16px;
    border: none;
    background: linear-gradient(90deg, #b39700, #f6ff00, #fff5bb, #fff59f);
    background-size: 300% 100%;
    animation: gradientMove 6s ease infinite;
    cursor: pointer;
}
