.Section-Admin-Heading {
  font-size: 60px;
  text-align: center;
  background-color: #ffd700;
  padding: 16px;
}

.Add-Heading {
  text-align: center;
  margin-top: 32px;
  font-size: 32px;
  font-weight: 600;
}

.Admin-Form {
  padding: 64px;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center the items horizontally */
  gap: 32px; /* Space between form items */
}

.Admin-Form input,
.Admin-Form textarea {
  display: block;
  width: 100%; /* Use full width */
  max-width: 100%; /* Remove the maximum width constraint */
  background: #fff7cc;
  padding: 15px; /* Top and bottom padding */
  padding-left: 16px; /* Smaller left padding */
  padding-right: 16px; /* Smaller right padding */
  border: 0;
  outline: 0;
  margin: 0; /* Remove margin-top and margin-bottom */
  resize: none;
  border-radius: 12px;
}

.Admin-Form label {
  font-size: 20px;
  font-weight: 600;
}

.form-group {
  width: 60%;
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
  gap: 8px; /* Add a little gap between label and input */
}

.Form-Img {
  width: 60%; /* Set the same width as the form-group */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.Form-Img .dropzone {
  width: 100%; /* Set the width to 100% within the .Form-Img */
  border: 2px dashed #cccccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  transition: border-color 0.2s;
}

.Form-Img .dropzone.active {
  border-color: #666666;
  background-color: #f0f0f0;
}

/* Blog Cards layout */
.Blog-Cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 32px 0;
}

.IndvBlogImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.IndvBlogImgDiv {
  object-fit: cover;
}

.Indv-Blog-Cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  border: 2px solid #0a0a0a;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 1px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  height: 700px; /* Adjust as necessary */
}

.Indv-Blog-Cards:hover {
  transform: translateY(-8px);
}

.blog-card-heading {
  font-size: 20px;
}

.blog-card-author {
  font-weight: 600;
  margin: 16px 0;
}

.blog-card-category {
  color: #fafafa;
  background-color: #0a0a0a;
  padding: 6px 12px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.blog-card-desc {
  line-height: 24px;
}

.delete-btn {
  background-color: #ff4d4d;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #ff1a1a;
}
