.Section-Indv-Blog {
  position: relative;
  padding-bottom: 0;
}

.Section-Indv-Blog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-color: #0a0a0a;
  z-index: -1;
}

.Indv-Blog-Heading {
  color: #fafafa;
  padding-top: 100px;
  text-align: center;
  margin-bottom: 60px;
  font-size: 64px;
}

.centre-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Indv-Blog-Img {
  border-radius: 16px;
  width: 80%;
}

.Indv-Blog-Author {
  font-size: 36px;
  font-weight: 600;
  margin-top: 32px;
  color: #0a0a0a;
  text-align: center;
}

.Indv-Blog-Content {
  color: #0a0a0a;
  font-size: 20px;
  margin-top: 24px;
  margin: 24px 36px 36px 24px;
  line-height: 32px;
  text-align: justify;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fafafa;
}

.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #0a0a0a;
  animation: l5 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
  border-radius: 0;
}
@keyframes l5 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}
