.contact {
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.contact-col {
    flex-basis: 48%;
    color: #0a0a0a;
}

.contact-col h3 {
    color: #0a0a0a;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-col h3 i {
    width: 35px;
    margin-left: 10px;
    color: #b39700;
}

.contact-col p {
    max-width: 450px;
    line-height: 1.3;
    font-size: 18px;
}

.contact-col ul li {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.contact-col ul li i {
    color: #b39700;
    width: 25px;
    margin-right: 25px;
    font-size: 25px;
}

.contact form input,
.contact form textarea {
    display: block;
    width: 100%;
    background: #fff7cc;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
    border-radius: 12px;
}

.contact form label {
    font-weight: 600;
}

.contact-col span {
    display: block;
    margin: 20px 0;
}

.contact-col button {
    margin-top: 10px;
}

.contact-col ul li .fa-brands {
    font-size: 30px;
    color: #0a0a0a;
    margin-right: 10px;
    transition: 0.5s;
}

.contact-col ul li .fa-brands + .fa-brands {
    margin-left: 20px;
}

.contact-col ul li a {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between icons */
    transition: 0.5s;
}

.contact-col ul li a:last-child {
    margin-right: 0; /* Remove margin for the last icon */
}

.contact-col ul li a i {
    color: #0a0a0a;
    transition: 0.5s;
}

/* LinkedIn Icon */
.contact-col ul li a .fa-linkedin-in:hover {
    color: #0077b5; /* LinkedIn Blue */
    transform: translateY(-5px);
}

/* Facebook Icon */
.contact-col ul li a .fa-facebook-f:hover {
    color: #1877f2; /* Facebook Blue */
    transform: translateY(-5px);
}

/* GitHub Icon */
.contact-col ul li a .fa-github:hover {
    color: #333; /* GitHub Black */
    transform: translateY(-5px);
}

/* YouTube Icon */
.contact-col ul li a .fa-youtube:hover {
    color: #ff0000; /* YouTube Red */
    transform: translateY(-5px);
}

/* Media Query */

@media (max-width: 700px) {
    .contact {
        display: block;
    }
    .contact-col {
        padding: 20px;
    }
}
