.aboutus {
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
}

.about img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.about {
    flex-basis: 31%;
    position: relative;
    margin-bottom: 20px; /* Add margin for better spacing on smaller screens */
}

.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(179, 151, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fafafa;
    cursor: pointer;
    opacity: 0;
    padding: 20px; /* Add padding for better spacing */
    transition: 0.5s;
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.caption img {
    width: 60px;
    margin-bottom: 10px;
}

.caption h3 {
    margin: 0;
    font-size: 18px;
}

.caption p {
    display: none;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.6;
    font-size: 16px;
    color: #fafafa;
    font-weight: 600;
}

.caption.show p {
    display: block;
}

.caption.show img,
.caption.show h3 {
    opacity: 0;
}

.about:hover .caption {
    opacity: 1;
    padding-top: 0;
}

/* Media Query */
@media (max-width: 650px) {
    .aboutus {
        flex-direction: column;
    }
    .about {
        flex-basis: 100%;
        margin: 20px 0; /* Ensure consistent spacing */
    }
    .caption {
        opacity: 1; /* Ensure the caption is always visible on mobile */
        padding-top: 20px; /* Reduce padding for mobile */
    }
    .caption.show img,
    .caption.show h3 {
        opacity: 0;
    }
    .caption p {
        display: block; /* Ensure paragraph is displayed on mobile */
        font-size: 14px; /* Adjust font size for readability */
    }
}
